NODE_ENV=development


PORT=3000

# Allowed CORS origin. Leave unset to allow any localhost port.
# CORS_ORIGIN=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

IS_DB_SSL=false

IS_DB_LOGGING=false
